---
Title: Cake.Npm
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Npm Addin for <a href="http://cakebuild.net/" target="_blank">Cake</a> allows you to run <a href="https://www.npmjs.com/" target="_blank">npm</a> commands from Cake build scripts.
    </p>
</div>